.comparePlan {
    background-image: linear-gradient(to right,
            #fff7e5,
            rgb(255, 255, 255)) !important;
}
/* .checkbox{
    display: none;
} */

.comparePlan label{
    margin-left: 10px;
}